{% extends '@ibexadesign/pagelayout.html.twig' %}

{% trans_default_domain 'ibexa_welcome_page' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('welcome-page-css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('welcome-page-js') }}
{% endblock %}

{% block content %}
    <div class="ibexa-welcome-header">
        <div class="ibexa-welcome-container">
            <div class="ibexa-welcome-row">
                <div class="ibexa-welcome-column">
                    <div class="ibexa-welcome-header__logo">
                        <img src="{{ asset('bundles/ibexaadminui/img/ibexa-logo.svg') }}" alt="Ibexa" class="logo">
                    </div>
                    <h1 class="ibexa-welcome-section-header">
                        {{ 'ibexa_platform_welcome_page.header.title'|trans({
                            '%name%': ibexa_render_field(content, 'name'),
                            '%version%': constant('Ibexa\\Contracts\\Core\\Ibexa::VERSION')
                        })|desc('Welcome to %name% %version%')|raw }}
                    </h1>
                    <p class="ibexa-welcome-paragraph">
                        {{ 'ibexa_platform_welcome_page.header.content'|trans|desc('This is the clean installation coming with Ibexa Digital Experience Platform.') }}
                    </p>
                    {% set admin_url = url('ibexa.dashboard', { 'siteaccess': 'admin' }) %}
                    <a
                        href="{{ admin_url }}"
                        class="ibexa-welcome-btn ibexa-welcome-btn--filled"
                    >
                        {{ 'ibexa_platform_welcome_page.header.action'|trans|desc('Start your project') }}
                    </a>
                    <button class="ibexa-welcome-header__go-down">
                        <img
                            src="{{ asset('build/images/caret-down.svg') }}"
                        />
                    </button>
                </div>
                <div class="ibexa-welcome-column">
                    <img
                        class="ibexa-welcome-img ibexa-welcome-img--center"
                        src="{{ asset('build/images/commerce.svg') }}"
                        alt="Commerce"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="ibexa-welcome-container ibexa-welcome-documentation-hub">
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <h2 class="ibexa-welcome-section-header">
                    {{ 'ibexa_platform_welcome_page.documentation_hub.title'|trans|desc('Documentation hub') }}
                </h2>
            </div>
        </div>
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <div class="ibexa-welcome-circle">
                    <img
                        src="{{ asset('build/images/documentation.svg') }}"
                    />
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.documentation_center.title'|trans|desc('Documentation center') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {{ 'ibexa_platform_welcome_page.documentation_center.content'|trans|desc('Ibexa DXP documentation for developers and editors.') }}
                </p>
                <a
                    href="https://ibexa.co/documentation-center"
                    class="ibexa-welcome-btn"
                >
                    {{ 'ibexa_platform_welcome_page.documentation_center.action'|trans|desc('Discover more') }}
                </a>
            </div>
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <div class="ibexa-welcome-circle">
                    <img
                        src="{{ asset('build/images/user.svg') }}"
                    />
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.user_documentation.title'|trans|desc('User documentation') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {{ 'ibexa_platform_welcome_page.user_documentation.content'|trans|desc('Manage content, products, site and content structure and muchh more using the Ibexa DXP administration interface.
Learn how to administrate your digital store with Ibexa Commerce. Manage products, orders and view statistics.') }}
                </p>
                <a
                    href="https://doc.ibexa.co/projects/userguide"
                    class="ibexa-welcome-btn"
                >
                    {{ 'ibexa_platform_welcome_page.user_documentation.action'|trans|desc('Discover more') }}
                </a>
            </div>
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <div class="ibexa-welcome-circle">
                    <img
                        src="{{ asset('build/images/development.svg') }}"
                    />
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.developer_documentation.title'|trans|desc('Developer documentation') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {{ 'ibexa_platform_welcome_page.developer_documentation.content'|trans|desc('The core documentation covers the majority of functionalities, their configuration and available APIs of Ibexa DXP with references and examples.
The commerce documentation covers the eCommerce features and APIs of Ibexa DXP. This includes payments and other integrations to back office systems.') }}
                </p>
                <a
                    href="https://doc.ibexa.co"
                    class="ibexa-welcome-btn"
                >
                    {{ 'ibexa_platform_welcome_page.developer_documentation.action'|trans|desc('Discover more') }}
                </a>
            </div>
        </div>
    </div>

    <div class="ibexa-welcome-container ibexa-welcome-tutorials-and-resources">
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <h2 class="ibexa-welcome-section-header">
                    {{ 'ibexa_platform_welcome_page.tutorials_and_resources.title'|trans|desc('Tutorials and resources') }}
                </h2>
            </div>
        </div>
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column ibexa-welcome-column--center">
                <p class="ibexa-welcome-paragraph ibexa-welcome-tutorials-and-resources__subheader">
                    {{ 'ibexa_platform_welcome_page.tutorials_and_resources.subheader'|trans|desc('Discover the value of Ibexa DXP, our new generation Digital Experience Platform') }}
                </p>
            </div>
        </div>
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column">
                <div class="ibexa-welcome-row ibexa-welcome-tutorials-and-resources__block ibexa-welcome-tutorials-and-resources__block--get-started">
                    <div class="ibexa-welcome-column">
                        <h3 class="ibexa-welcome-block-header">
                            {{ 'ibexa_platform_welcome_page.get_started.title'|trans|desc('Get started') }}
                        </h3>
                        <p class="ibexa-welcome-paragraph">
                            {{ 'ibexa_platform_welcome_page.get_started.content'|trans|desc('Struggling to navigate the digital landscape and trying to understand what the ever-accelerating use of digital technologies means for your business? Do you think B2B and digital transformation are simply buzzwords without real meaning or having clear impact on your business?

Digital Transformation is all about innovation. It’s about exploring new approaches, like go-to-market models, new digital experiences, new pricing strategy or even new business models.

At Ibexa, we have been a driving force for B2B digital transformation ever since we created our company 20 years ago. Our experts can help you, by sharing insights and providing some pointers on how you can transform your business.') }}
                        </p>
                        <a
                            href="https://doc.ibexa.co/en/latest/getting_started/first_steps"
                            class="ibexa-welcome-link"
                        >
                            {{ 'ibexa_platform_welcome_page.get_started.action'|trans|desc('Learn more') }}
                        </a>
                    </div>
                    <div class="ibexa-welcome-column">
                        <img
                            class="ibexa-welcome-img ibexa-welcome-img--right"
                            src="{{ asset('build/images/tutorials.svg') }}"
                            alt="Tutorials"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="ibexa-welcome-row">
            <div class="ibexa-welcome-column ibexa-welcome-tutorials-and-resources__block ibexa-welcome-tutorials-and-resources__block--tutorials">
                <div class="ibexa-welcome-circle">
                    {# TODO: get icon #}
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.tutorials.title'|trans|desc('Tutorials') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {# TODO: get proper text #}
                    {{ 'ibexa_platform_welcome_page.tutorials.content'|trans|desc('Struggling to navigate the digital landscape and trying to understand what the ever-accelerating use of digital technologies means for your business? Do you think B2B and digital transformation are simply buzzwords without real meaning or having clear impact on your business?

Digital Transformation is all about innovation. It’s about exploring new approaches, like go-to-market models, new digital experiences, new pricing strategy or even new business models.

At Ibexa, we have been a driving force for B2B digital transformation ever since we created our company 20 years ago. Our experts can help you, by sharing insights and providing some pointers on how you can transform your business.') }}
                </p>
                <a
                    href="https://doc.ibexa.co/en/latest/tutorials/platform_beginner/building_a_bicycle_route_tracker_in_ez_platform"
                    class="ibexa-welcome-link"
                >
                    {{ 'ibexa_platform_welcome_page.tutorials.action'|trans|desc('Learn more') }}
                </a>
            </div>
            <div class="ibexa-welcome-column ibexa-welcome-tutorials-and-resources__block ibexa-welcome-tutorials-and-resources__block--rest-api">
                <div class="ibexa-welcome-circle">
                    {# TODO: get icon #}
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.rest_api.title'|trans|desc('REST API reference') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {# TODO: get proper text #}
                    {{ 'ibexa_platform_welcome_page.rest_api.content'|trans|desc('Struggling to navigate the digital landscape and trying to understand what the ever-accelerating use of digital technologies means for your business? Do you think B2B and digital transformation are simply buzzwords without real meaning or having clear impact on your business?

Digital Transformation is all about innovation. It’s about exploring new approaches, like go-to-market models, new digital experiences, new pricing strategy or even new business models. 

At Ibexa, we have been a driving force for B2B digital transformation ever since we created our company 20 years ago. Our experts can help you, by sharing insights and providing some pointers on how you can transform your business.') }}
                </p>
                <a
                    href="http://doc.ibexa.co/rest-api-reference"
                    class="ibexa-welcome-link"
                >
                    {{ 'ibexa_platform_welcome_page.rest_api.action'|trans|desc('Learn more') }}
                </a>
            </div>
            <div class="ibexa-welcome-column ibexa-welcome-tutorials-and-resources__block ibexa-welcome-tutorials-and-resources__block--php-api">
                <div class="ibexa-welcome-circle">
                    {# TODO: get icon #}
                </div>
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.php_api.title'|trans|desc('Public PHP API') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {# TODO: get proper text #}
                    {{ 'ibexa_platform_welcome_page.php_api.content'|trans|desc('Struggling to navigate the digital landscape and trying to understand what the ever-accelerating use of digital technologies means for your business? Do you think B2B and digital transformation are simply buzzwords without real meaning or having clear impact on your business?

Digital Transformation is all about innovation. It’s about exploring new approaches, like go-to-market models, new digital experiences, new pricing strategy or even new business models.

At Ibexa, we have been a driving force for B2B digital transformation ever since we created our company 20 years ago. Our experts can help you, by sharing insights and providing some pointers on how you can transform your business.') }}
                </p>
                <a
                    href="https://doc.ibexa.co/en/latest/api/public_php_api"
                    class="ibexa-welcome-link"
                >
                    {{ 'ibexa_platform_welcome_page.php_api.action'|trans|desc('Learn more') }}
                </a>
            </div>
        </div>
    </div>

    <div class="ibexa-welcome-container ibexa-welcome-training-platform">
        <div class="ibexa-welcome-row ibexa-welcome-training-platform__block">
            <div class="ibexa-welcome-column ibexa-welcome-training-platform__img-column">
                <img src="{{ asset('build/images/training.svg') }}" alt="Training">
            </div>
            <div class="ibexa-welcome-column">
                <h3 class="ibexa-welcome-block-header">
                    {{ 'ibexa_platform_welcome_page.training_platform.title'|trans|desc('Training platform') }}
                </h3>
                <p class="ibexa-welcome-paragraph">
                    {{ 'ibexa_platform_welcome_page.training_platform.content'|trans|desc('Once completed, this wizard will recommend the Ibexa DXP product that best suits your needs and display the base price of the product, including any additional services you have selected
') }}
                </p>
                <a
                    href="https://learn.ibexa.co"
                    class="ibexa-welcome-btn ibexa-welcome-btn--filled"
                >
                    {{ 'ibexa_platform_welcome_page.training_platform.action'|trans|desc('Start the training') }}
                </a>
            </div>
        </div>
    </div>

    <div class="ibexa-welcome-contact">
        <div class="ibexa-welcome-container">
            <div class="ibexa-welcome-row ibexa-welcome-contact__block">
                <div class="ibexa-welcome-column">
                    <h3 class="ibexa-welcome-block-header">
                        {{ 'ibexa_platform_welcome_page.contact.title'|trans|desc('Contact to support') }}
                    </h3>
                    <p class="ibexa-welcome-paragraph">
                        {{ 'ibexa_platform_welcome_page.contact.content'|trans|desc('If you need help, contact with our support team') }}
                    </p>
                    <a
                        href="https://support.ibexa.co"
                        class="ibexa-welcome-btn ibexa-welcome-btn--filled"
                    >
                        {{ 'ibexa_platform_welcome_page.contact.action'|trans|desc('Go to support') }}
                    </a>
                </div>
                <div class="ibexa-welcome-column">
                    <img
                        class="ibexa-welcome-img ibexa-welcome-img--center"
                        src="{{ asset('build/images/support.png') }}"
                        alt="Support"
                    />
                </div>
            </div>
        </div>
    </div>

    <footer class="ibexa-welcome-footer">
        <div class="ibexa-welcome-container">
            <div class="ibexa-welcome-row">
                <div class="ibexa-welcome-column">
                    <p class="ibexa-welcome-paragraph">
                        {{ 'ibexa_platform_welcome_page.copyright'|trans({
                            '%current_year%': "now"|date("Y")
                        })|desc('Copyright © %current_year% <a href="http://ibexa.co" target="_blank">Ibexa</a> | Powered by Ibexa DXP')|raw }}
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
